<form action="ejemplo.php" method="get">
  <p>Nombre: <input type="text" name="nombre" size="40"></p>
  <p>Apellidos: <input type="text" name="apellidos" size="40"></p>
  <p>Fecha de nacimiento: <input type="number" name="nacido" min="1900"></p>
  <p>Sexo:
    <input type="radio" name="hm" value="h"> Hombre
    <input type="radio" name="hm" value="m"> Mujer
  </p>
  <p>
    <input type="submit" value="Enviar">
    <input type="reset" value="Borrar">
 
  <p>Edad:
  <input type="radio" name="edad" value="menor"> Menor
  <input type="radio" name="edad" value="adulto" required="required"> Adulto
</p>

</form>