
<head>
<title>Ejercicio 8 </title>
 
<script type="text/javascript">
var numero = prompt("Ingres un número entero");
 
var resultado = parImpar(numero);
alert("El número "+numero+" es "+resultado);
 
function parImpar(numero) {
  if(numero % 2 == 0) {
    return "par";
  }
  else {
    return "impar";
  }
}
</script>
</head>
 
<body>
</body>
</html>