<head>

<title>  Ejercicio 7 - Factorial=</title>
 
<script type="text/javascript">
numero=10; //10*9*8*7*65*4*3*2*1
var i;
var factorial =0;
for (i=numero; i>1; --i)(
factorial= factorial* numero-1;
)

</script>
</head>
 
<body>
</body>
</html>